# Configuração de submódulos Git para OTClient e Canary
# Este arquivo define os submódulos que servem como fontes de verdade imutáveis

[submodule "otclient"]
	path = otclient
	url = https://github.com/Syntagmai/otclient.git
    branch = main
    ignore = dirty

[submodule "canary"]
	path = canary
	url = https://github.com/Syntagmai/canary.git
    branch = master
    ignore = dirty

# Notas:
# - path: Caminho local do submódulo
# - url: URL do repositório remoto
# - branch: Branch padrão do submódulo
# - ignore: Configuração de ignorar mudanças locais (dirty = não rastrear mudanças) 